
<div class="container-fluid fsdv">

    <h1 class="wrt">Welcome </h1>
    <h1 class="wrt">{{name}}</h1>
   

    <div class="btdv">

      <button type="button" class="btn btn-warning" id="out"><a href="/logout" class="a" >Logout</a></button>
    </div>

    


  </div>